# General
.DS_Store
.AppleDouble
.LSOverride

apptest

ghostdriver.log

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

__pycache__

.vscode

configs
/logs/
/applications/番茄钟/record.txt
/applications/单词卡/t
/system/token.txt
/.idea/remote-mappings.xml
